.row{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
}
.card{
    margin-left: 10%;
    margin-right: 10%;
}
nav{
    text-align: center;
    
}

.imgBox{
    margin-top: 5%;

    vertical-align: middle;
    
    text-align: center;
}

.title {
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.author {
  color: black;
  font-size: 14px;
}

/* items in book list */
.listItemContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* text in book list */
.listText {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

i {
  font-size: 30px;
}

.fa-plus-square {
  color:rgb(14, 117, 0);
}

.fa-check-square {
  color: lightgreen;
}

.fa-trash-alt {
  color: red;

}

.videos {
  padding: 3%;
  background-color: blue;
  background-size: 25px;
}

.bottom-border{
  
}

#title{
  text-align: center;
}

@media (max-width: 600px) {
  
  /* items in book list */
  .listItemContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }

  
  /* text in book list */
  .listText {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .listText p {
    
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    
    text-align: center;

  }
  .listItemContent img {
    height: 200px;
    width: auto;
  }
  
  .bottom-border{
    display: flex;
    flex-direction: column;
  }
  .bottom-border img{
    
  }

  #repWidth{
    width: 100%;
  }
  #repWidth iframe{
    height:225px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
 
  #bookList{
    border: none;
  }
  #bookList li{
    border: none;
  }
  #favsList{
    border: none;
  }
  #favsList li{
    border: none;
  }
  .collection-item img{
    height: 200px;
    width: auto;
  }




}