.row{
    margin-left: 10%;
    margin-right: 10%;
}
.card{
    margin-left: 10%;
    margin-right: 10%;
}
nav{
    text-align: center;
    
}

.imgBox{
    margin-top: 5%;

    vertical-align: middle;
    
    text-align: center;
}